{% extends 'base.html.twig' %}

{% block title %}Eye index{% endblock %}

{% block body %}
    <h1>Eye index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Color</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for eye in eyes %}
            <tr>
                <td>{{ eye.id }}</td>
                <td>{{ eye.color }}</td>
                <td>
                    <a href="{{ path('eye_show', {'id': eye.id}) }}">show</a>
                    <a href="{{ path('eye_edit', {'id': eye.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('eye_new') }}">Create new</a>
{% endblock %}
