{% extends 'baseApply.html.twig' %}

{% block title %}{{ production_compagny.name }}{% endblock %}

{% block body %}
  <div class="container-fluid">
      <div class="message-place">
          {% include "message/_flash.html.twig"%}
      </div>
      <div class="row justify-content-center">
           <h1>{{ production_compagny.name }}</h1>
      </div>

        {{ include('production_compagny/_form.html.twig', {'button_label': 'Update'}) }}

        <a href="{{ path('production_compagny_index') }}">Annuler</a>

        {{ include('production_compagny/_delete_form.html.twig') }}
    </div>
{% endblock %}
