{% extends 'base.html.twig' %}

{% block title %}SectorJob{% endblock %}

{% block body %}
    <h1>SectorJob</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sector_job.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ sector_job.type }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('sector_job_index') }}">back to list</a>

    <a href="{{ path('sector_job_edit', {'id': sector_job.id}) }}">edit</a>

    {{ include('sector_job/_delete_form.html.twig') }}
{% endblock %}
