{% extends 'baseApply.html.twig' %}

{% block title %}Candidature{% endblock %}

{% block body %}
    <div class="container contHome">
                {{ form_start(form) }}
        <div class="row justify-content">
            <div class="col space-around">
                {{ form_row(form.school, { 'label': 'Ecole' }) }}
            </div>
        </div>
        <div class="row justify-content">

            <div class="col-lg-6 col-12">
                {{ form_row(form.levelDegree, { 'label': 'Niveau de diplome' }) }}
            </div>
            <div class="col-lg-6 col-12">
                {{ form_row(form.degree, { 'label': 'Intitulé du(des) diplôme(s)' }) }}
            </div>
        </div>

        <div class="row justify-content">
            <div class="col space-around">
                {{ form_row(form.conservatory, { 'label': 'Conservatoire' }) }}
            </div>
        </div>
        <div class="row justify-content">
            <div class="col space-around">
                {{ form_row(form.experiences, { 'label': 'Expériences' }) }}
            </div>
        </div>
        <div class="row justify-content">
            <div class="col space-around">
                {{ form_row(form.practiceSports, { 'label': 'Sports pratiqués' }) }}
            </div>
        </div>
        <div class="row justify-content-center">
        {% include 'apply/_ApplyPrecedent.html.twig' %}
        {% include 'apply/_ApplySuivant.html.twig' %}
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
