{% extends 'baseApply.html.twig' %}

{% block title %}Candidature{% endblock %}

{% block body %}
    <div class="container contHome">
                {{ form_start(form) }}
        <div class="row justify-content">
            <div class="col space-around">
                {{ form_row(form.school, { 'label': 'Ecole' }) }}
            </div>
        </div>
        <div class="row justify-content">

            <div class="col-lg-6 col-12">
                {{ form_row(form.levelDegree, { 'label': 'Niveau de diplome' }) }}
            </div>
            <div class="col-lg-6 col-12">
                {{ form_row(form.degree, { 'label': 'Intitulé du(des) diplôme(s)' }) }}
            </div>
        </div>

        <div class="row justify-content">
            <div class="col space-around">
                {{ form_row(form.conservatory, { 'label': 'Conservatoire' }) }}
            </div>
        </div>
        <div class="row justify-content">
            <div class="col space-around">
                {{ form_row(form.experiences, { 'label': 'Expériences' }) }}
            </div>
        </div>
        <div class="row justify-content">
            <div class="col space-around">
                {{ form_row(form.practiceSports, { 'label': 'Sports pratiqués' }) }}
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-6 col-12">
                <a class="btn btn-primary btn-block"
                   href="{{ path('apply_CivilStatus', {'role' : artist.roles.0 }) }}"><i class="fas fa-chevron-left"></i>{{ 'Etape précédente' }}
                </a>
            </div>
            <div class="col space-around">
                <button class="btn btn-primary btn-block">{{ button_label|default('Etape suivante ') }}<i class="fas fa-chevron-right"></i></button>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
