{% extends 'baseApply.html.twig' %}

{% block title %}Candidature{% endblock %}

{% block body %}

    <div class="container contHome">
        <div class="row">
            <p>Formats recommandés: jpg, jpeg, png.</p>
            <p>Les photos 1 et 2 doivent être des PORTRAITS et la photo 3 une photo de PLAIN PIED. La photo 1 sera aussi
                votre photo de profil générale.</p>

            <p>Pour remplacer une photo, vous pouvez refaire le téléchargement, la seconde photo remplacera la
                première.</p>
            
        </div>
        {{ form_start(form) }}
        <div class="row justify-content-center">
            <div class="col-4">
                {{ form_row(form.portraitPictureFile1) }}

            </div>
            <div class="col-4">
                {{ form_row(form.portraitPictureFile2) }}

            </div>
            <div class="col-4">
                {{ form_row(form.fullPictureFile) }}
            </div>

        </div>
        <div class="row justify-content-center">
        {% include 'apply/_ApplyPrecedent.html.twig' %}
        {% include 'apply/_ApplySuivant.html.twig' %}
        </div>
        {{ form_end(form) }}

    </div>
{% endblock %}
