{% extends 'base.html.twig' %}

{% block title %}Transformation index{% endblock %}

{% block body %}
    <h1>Transformation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>HairCut</th>
                <th>HairColoration</th>
                <th>ColorContactLens</th>
                <th>Wig</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for transformation in transformations %}
            <tr>
                <td>{{ transformation.id }}</td>
                <td>{{ transformation.hairCut ? 'Yes' : 'No' }}</td>
                <td>{{ transformation.hairColoration ? 'Yes' : 'No' }}</td>
                <td>{{ transformation.colorContactLens ? 'Yes' : 'No' }}</td>
                <td>{{ transformation.wig ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('transformation_show', {'id': transformation.id}) }}">show</a>
                    <a href="{{ path('transformation_edit', {'id': transformation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('transformation_new') }}">Create new</a>
{% endblock %}
