{% extends 'baseApply.html.twig' %}

{% block title %}Projets et castings{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <h1>Liste des projets et castings</h1>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>Titre</th>
                    <th>Date de début</th>
                    <th>Format</th>
                    <th>Durée</th>
                    <th>Production</th>
                    <th>Diffusion</th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
            {% for project in projects %}
                <tr>
                    <td>{{ project.title }}</td>
                    <td>{{ project.shootingDate }}</td>
                    <td>{{ project.format }}</td>
                    <td>{{ project.duration }}</td>
                    <td>{{ project.production }}</td>
                    <td>{{ project.broadcast }}</td>
                    <td>
                        <a href="{{ path('project_show', {'id': project.id}) }}">show</a>
                        <a href="{{ path('project_edit', {'id': project.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="24">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="row justify-content-center">
            <div class="col-lg-4 col-12">
                <a class="btn btn-primary btn-block" href="{{ path('project_new') }}">Ajouter un projet</a>
            </div>
        </div>
    </div>
{% endblock %}
