{% extends 'base.html.twig' %}

{% block title %}Corpulence index{% endblock %}

{% block body %}
    <h1>Corpulence index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for corpulence in corpulences %}
            <tr>
                <td>{{ corpulence.id }}</td>
                <td>{{ corpulence.type }}</td>
                <td>
                    <a href="{{ path('corpulence_show', {'id': corpulence.id}) }}">show</a>
                    <a href="{{ path('corpulence_edit', {'id': corpulence.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('corpulence_new') }}">Create new</a>
{% endblock %}
